<div class="message">
  <div class="upper-messages">
    <div class="user-name">
      <!-- 投稿したユーザー名情報を出力する -->
      masato

    </div>
    <div class="timestamp">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>

    </div>
  </div>
  <div class="lower-message">
    <div class="message">
      <!-- 投稿したメッセージ内容を記述する -->
      おはよう

    </div>
  </div>
</div>